library(shiny)
library(shinydashboard)

ui <- dashboardPage(
  dashboardHeader(title="{{dashboardHeader$title}}", titleWidth={{dashboardHeader$titleWidth}}, disable={{dashboardHeader$disable}}),
  dashboardSidebar(collapsed={{dashboardSidebar$collapsed}}, width={{dashboardSidebar$width}}, disable={{dashboardSidebar$disable}},
    {{MMStatSidebar}}
  ),
  dashboardBody(
    {{MMStatBody}}
  )
)

server <- function(input, output) {
  {{MMStatServer}}
}

shinyApp(ui, server)
