library(shiny)
library(shinydashboard)
library(shinyWidgets)

{{Global}}

# language support
{{Translations}}
pomessages <- translations()

{{GetText}}

{{AsChoices}}

ui <- dashboardPage(
  dashboardHeader(title="{{dashboardHeader$title}}", titleWidth={{dashboardHeader$titleWidth}}, disable={{dashboardHeader$disable}}),
  dashboardSidebar(collapsed={{dashboardSidebar$collapsed}}, width={{dashboardSidebar$width}}, disable={{dashboardSidebar$disable}},
    {{Sidebar}}
    shiny::tags$div(align="center",
      shiny::tags$hr(),
      shiny::tags$a(href = 'https://www.sigbertklinke.de', 'Created with shinyExample'),
      shiny::tags$br(),
      shiny::tags$a(target="_blank", href="https://www.wihoforschung.de/de/flipps-1327.php",  'Supported by BMBF')
    )
  ),
  dashboardBody(
    {{Body}}
  )
)

server <- function(input, output, session) {
  seed <- list(inBookmark=FALSE)

  onBookmark(function(state) {
    state$seed <- seed
  })

  onRestore(function(state) {
    seed <- state$seed
    seed$inBookmark <- TRUE
  })

  onRestored(function(state) {
    seed$inBookmark <- FALSE
  })

  onStop(function() {
    po <- get('pomessages')
	  if (po$local) cat(sprintf('gettext("%s"); # %.0f\n', names(po$stats$count), po$stats$count))
  })

  value <- function(val) {
    param <- substitute(val)
    {{Value}}
    return(val)
  }

  {{Server}}
}

shinyApp(ui, server)
